@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');

@font-face {
      font-family: lipstick;
      src: url("lipstick-rage-font/LipstickRageRegular-BWLwx.ttf");
}

body {

      margin: 0px;
      background-image: url("Pictures/lippieRoll.gif");
      background-color: #fff2f2;
      background-size: 60px 80px;
      
}

#Title {
      display: block;
      font-family: 'lipstick';
      color: #b51a09;
      background-color: #b9924d;

}

#buttin {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: flex-start;

}

#lipsticks {
      display: flex;
      align-self: flex-end;
}

#covers{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}

.lippie {
      display: block;
      width: 200px;
      height: 700px;


}

.home, .hist, .docs, .abme {

      display: block;
      width: 300px;
      height: 150px;

}

.cover120, .cover140, .cover1107, .cover1020L{

      display:block;
      width: 300px;
      height: 400px;
}

.summary{
      display: block;
      font-family: Martel;
      font-size: medium;
      background: rgba(186, 30, 19, .9);
      margin: 10px;
      }